<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ForWhat</key>
	<array>
		<string>Exam</string>
		<string>Test</string>
		<string>Kartkówka</string>
		<string>Odpowiedź</string>
		<string>Praca domowa</string>
		<string>Praca dodatkowa</string>
		<string>Praca na lekcji</string>
		<string>Wypracowanie</string>
		<string>Projekt</string>
		<string>Łapówka</string>
	</array>
	<key>Grades</key>
	<array>
		<string>F</string>
		<string>E</string>
		<string>D</string>
		<string>C</string>
		<string>B</string>
		<string>A</string>
	</array>
</dict>
</plist>
